<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Coming Soon"/>
    <meta property="og:site_name" content="Coming Soon"/>
    <meta property="og:type" content="blog"/>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body ontouchstart="">
    <div id="trianglify-wrapper"></div>
    <div id="content-wrapper" class="content">
        <div class="title">
            <h2><%= htmlWebpackPlugin.options.title %></h2>
        </div>
        <div class="contact">
            <a id="contact-mail" href="mailto:no@bots.com" target="_top">no@bots.com</a>
        </div>
    </div>
</body>
</html>
