<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Coming Soon"/>
    <meta property="og:site_name" content="Coming Soon"/>
    <meta property="og:type" content="blog"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body ontouchstart="">
    <div id="trianglify-wrapper"></div>
    <div id="content-wrapper" class="content">
        <div class="title">
            <h2>Coming Soon</h2>
        </div>
    </div>
</body>
</html>
