// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    color: #908f8f;
}

#trianglify-wrapper {
    position: absolute;
    left: 0;
    top: 0;

    canvas {
        display: block;
    }
}

.content {
    display: flex;
    width: 310px;
    height: 310px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 9;
    transition: box-shadow 500ms;

    &:hover {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    }
}

.title {
    h2 {
        font-size: 32px;
        font-weight: 200;
        margin: 0;
        padding: 0;
    }
}

.contact {
    margin-top: 10px;

    a {
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        color: #998ec3;
        transition: color 500ms;

        &:hover {
            color: #b78ea0;
        }
    }
}

@media only screen and (min-width:961px)  {
    .content {
        width: 400px;
        height: 400px;
        background: rgba(255, 255, 255, 0.2);
    }

    .title h2 {
        font-size: 40px;
    }
}
